body {
    background-color: rgb(0, 255, 0);
    color: black;
    align-items: center;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: blue;
}

button {
    cursor: pointer;
    background-color: aquamarine;
    padding: 5px 12px;
}

div {
    align-items: center;
}